@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="form-group" style="text-decoration:none" asp-area="" asp-controller="Admin" asp-action="Login">
        <input type="submit" value="Admin Login" class="btn btn-primary" />&nbsp;
    </a>
    <a class="form-group" style="text-decoration:none" asp-area="" asp-controller="" asp-action="">
        <input type="submit" value="Customer Login" class="btn btn-primary" />&nbsp;
    </a>
</div>
