
@{
    ViewData["Title"] = "Booked";
}
<div class="row" style="margin:10%; text-align:center">

    <h2>Thank You so much for choosing our Ride.</h2>
    <h3>Driver will be there on your selected time and date</h3>
</div>

